.card {
  border-radius: 12px;
}

h6 {
  font-size: 14px;
  color: #6c757d;
}
.nav-tabs .nav-link {
  font-weight: 500;
}

.nav-tabs .nav-link.active {
  background-color: #0d6efd;
  color: #fff;
  border-radius: 6px 6px 0 0;
}
